/* CSS adapted from http://ben.balter.com/2014/03/13/pages-anchor-links/#the-css */
a.header-link {
  padding-left: 0.5em;
  opacity: 0;
  font-size: 80%;
  color: #9a9a9a;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}
