<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    {% seo %}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Custom CSS -->
    {% capture main_css %}
    {% include main.css %}
    {% endcapture %}

    <style type="text/css">{{ main_css | scssify }}</style>

    <!-- TODO: Use concat filter here when supported. -->
    {% for stylesheet in site.font_styles %}
    <link rel="preload" href="{{ stylesheet }}" as="style" onload="this.rel = 'stylesheet'">
    <noscript><link rel="stylesheet" href="{{ stylesheet }}" type="text/css"></noscript>
    {% endfor %}
    {% for stylesheet in page.stylesheets %}
    <link rel="preload" href="{{ stylesheet }}" as="style" onload="this.rel = 'stylesheet'">
    <noscript><link rel="stylesheet" href="{{ stylesheet }}" type="text/css"></noscript>
    {% endfor %}

    <!-- link rel="preload" polyfill -->
    {% if site.environment == "production" %}
    <script type="text/javascript">
    {% include loadCSS.min.js %}
    {% include cssrelpreload.min.js %}
    </script>
    {% else %}
    <script type="text/javascript">
    {% include loadCSS.js %}
    {% include cssrelpreload.js %}
    </script>
    {% endif %}
</head>
