<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Custom CSS -->
    {% capture main_css %}
    {% include main.css %}
    {% endcapture %}

    <!-- link rel="preload" polyfill -->
    <script type="text/javascript">{% include loadCSS.min.js %}</script>
    <script type="text/javascript">{% include cssrelpreload.min.js %}</script>
    <style type="text/css">{{ main_css | scssify }}</style>

    <!-- TODO: Use concat filter here when supported. -->
    {% for stylesheet in site.font_styles %}
    <link rel="preload" href="{{ stylesheet }}" onload="this.rel = 'stylesheet'">
    <noscript><link rel="stylesheet" href="{{ stylesheet }}" type="text/css"></noscript>
    {% endfor %}
    {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
    {% endfor %}

</head>
