/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0px;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  line-height: 1.5;
  font-weight: 300;
  background-color: #2D3145;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Oxygen', sans-serif;
}

label {
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
  margin-right: 10px;
}

h3 { color: #616161; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

input, textarea {
  font-size: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px #d1d1d1 solid;
  font-family: 'Roboto', sans-serif;
}

textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;

}

input[type="text"], input[type="email"] {
  border: 1px #d1d1d1 solid;
  padding-bottom: 6px;
}

dt { font-weight: bold; font-family: 'Oxygen', sans-serif; }
dd { margin-left: 15px; }

strong { font-weight: bold; }

input[type="submit"], article button {
  border: none;
  background-color: #293263;
  padding: 6px;
  color: #c49f7f;
  border-radius: 4px;
  cursor: pointer;
}

.latest-posts {
    background-color: #f3f3f3;
    padding-bottom: 30px;
}
.latest-posts tbody {
    border: none;
}

/* Helper Classes */
/* ----------------------------------------------------------*/

.nostyle {
  border: none;
  background: none;
}

.clearfix {
  clear: both;
}

.noindent {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.nobullets {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.search-highlight {
  background-color: orange;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  min-height: 60px;
  background-color: #293263;
  z-index: 1;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.search {
  float:left;
  margin-top: 15px;
  max-width: 70%;
  position: relative;
}

.search > input {
  max-width: 90%;
  padding: 4px;
  border: none;
}

.search-submit {
  position: absolute;
  top: 3px;
  margin-left: 5px;
  font-size: 120%;
  color: rgba(176,176,176,0.6);
  line-height: 1;
  padding-left: 1px;
}

.search-submit > svg {
  width: 20px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #CEAA94;
  letter-spacing: -.5px;
}

/* Site footer */

.site-footer {
  padding: 30px 0;
}

.site-footer a {
  color: #d1d1d1;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 175px; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  letter-spacing: -.3px;
  color: #CEAA94;
}

.github-icon-svg,
.linkedin-icon-svg,
.rss-icon-svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
}

.copyright {
  text-align: center;
  font-size: 70%;
  clear: both;
  padding-top: 20px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #f3f3f3;
}

.wrap > .post, .wrap > .home {
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(255,255,255,0.55);
  border-radius: 5px;
}

.wrap > .post {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

/* Home styles */
/* ----------------------------------------------------------*/

.home {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.home h1 { margin-bottom: 25px; }

.home ul {
  list-style: none;
  color: rgb(28, 34, 65);
  font-size: 150%;
  flex-grow: 5;
  padding-top: 20px;
  padding-bottom:15px;
  text-align: center;
}

.home ul > li:first-child {
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 3px;
}

.home .portrait {
  flex-grow: 2;
  display: flex;
}

.home .portrait > img {
  width: 200px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
}

.call-to-action { margin-top: 20px; margin-bottom: 15px; }

.call-to-action > a {
  background-color: #009e53;
  padding: 5px 10px;
  color: #d4d4d4;
  border-radius: 2px;
}

.call-to-action > a:hover {
  text-decoration: none;
}

.page-content.banner-image {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
}

/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {
  .MathJax_Display {
    font-size: 70%;
    text-align: left !important;
  }

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .home ul > li:first-child {
    font-size: 150%;
  }

  /* Prevent images becoming too narrow at small screen sizes. */
  .gallery-image { flex-basis: 100% }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
    color: black;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}
