---
layout: default
stylesheets:
  - "/css/post.css"
  - "/css/highlight.css"
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% include social-media.html %}
  </header>

  <article class="post-content">
  {% if page.image %}
  <figure>
    <img class='main-image' src='{{ page.image.url }}' alt='{{ page.image.name }}' title='{{ page.image.name }}' />
    {% if page.image.caption %}<figcaption>{{ page.image.caption | markdownify }}</figcaption>{% endif %}
  </figure>
  {% endif %}
  {{ content }}
  </article>

  {% if page.previous %}
  <span class="prev">
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&lt; Prev</a>
  </span>
  {% endif %}

  {% if page.next %}
  <span class="next">
    <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &gt;</a>
  </span>
  {% endif %}
  <div class="clearfix"></div>

</div>
